* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: #d4e3fc;
}

.nav {
  list-style: none;
  margin-top: 20px;
}

.nav li {
  margin: 10px;
}

.nav li a {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.nav li a:hover {
  background-color: #ffffff;
}

.nav li i {
  margin-right: 10px;
}

.main {
  width: 85%;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  color: #333;
  font-size: 24px;
}

.user {
  display: flex;
  align-items: center;
}

.user span {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.box {
  width: 20%;
  height: 100px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h2 {
  color: #333;
  font-size: 18px;
}

.box p {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.amazon {
  border-left: 5px solid #f0c14b;
}

.netflix {
  border-left: 5px solid #e50914;
}

.payment {
  border-left: 5px solid #28a745;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.line-chart {
  width: 45%;
  height: 300px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.pie-chart {
  width: 24%;
  height: 300px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.charts h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.tables {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.table {
  width: 45%;
  /* height: 200px; */
  height: 400px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.tables h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  color: #333;
  font-weight: bold;
}
